body {
    background-color: #cceff3;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    color: white;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}


button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
}

button:hover {
	color: white;
	background: steelblue;
}

#message {
    display: inline-block;
    color: steelblue;
	width: 20%;
}

.selected {
	color: white;
	background: steelblue;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
}

.mode {border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
    font-size: inherit;}
    
#container > div {
    width: 30%;
    padding-bottom: 30%;
    float: left ; 
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-tranmoz-transition: background 0.6s;
}